* {
    position: relative;
}

.height_full {
    min-height: 100vh;
}

.width_full {
    min-width: 100vw;
}

.elements_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.elements_layout_flex_vertical {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.elements_layout_flex_horizontal {
    display: flex;
    flex-direction: row;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

.title {
    font-size: 80px;
    color: white;
    margin: 5px;
    text-align: center;
}

input[type=text] {
    width: 65%;
    font-size: 35px;
    border-radius: 30px;
    padding: 15px;
    border: none;
    /* text-indent: 30px; */
    margin: 5px auto 5px auto;
}

button {
    width: 65%;
    font-size: 35px;
    border-radius: 30px;
    padding: 15px;
    border: none;
    /* text-indent: 30px; */
    background-color: #1DB954;
    color: white;
    /* margin-top: 50px; */
    transition: 0.2s all ease-in-out;
    margin: 5px auto 5px auto;
    text-align: center;
}

button:hover {
    cursor: pointer;
    filter: brightness(70%);
}

button:disabled {
    background-color: rgb(184, 184, 184) !important;
}

button:disabled:hover {
    cursor: pointer !important;
    filter: brightness(100%) !important;
}

.text {
    font-size: 25px;
    color: white;
}

/* Flex */
.flex_1 {flex: 1;}
.flex_2 {flex: 2;}
.flex_3 {flex: 3;}
.flex_4 {flex: 4;}
.flex_5 {flex: 5;}
.flex_6 {flex: 6;}
.flex_7 {flex: 7;}
.flex_8 {flex: 8;}
.flex_9 {flex: 9;}
.flex_10 {flex: 10;}

/* Border Radius */
.noRounded {
    border-radius: 5px !important;
}

/* Margin */
.m2 {margin: 2px !important;}

/* Font Size */
.fs15 {font-size: 15px !important;}
.fs20 {font-size: 20px !important;}
.fs25 {font-size: 25px !important;}
.fs30 {font-size: 30px !important;}
.fs35 {font-size: 35px !important;}
.fs40 {font-size: 40px !important;}

/* Text Indent */
.ti {text-indent: 30px;}